<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.walter.mapper.DepartmentMapperByXml">

<!--    <cache eviction="LRU" flushInterval="60000" readOnly="false" size="1024"/>-->

    <resultMap id="departmentWithEmployeesResultMap" type="com.walter.domain.Department">
        <id column="did" property="id"/>
        <result column="dept_code" property="code"/>
        <result column="dept_name" property="name"/>
        <collection property="employeeList" ofType="com.walter.domain.Employee">
            <id column="eid" property="id"/>
            <result column="username" property="username"/>
            <result column="user_real_name" property="userRealName"/>
            <result column="gender" property="gender"/>
            <result column="email" property="email"/>
        </collection>
    </resultMap>

    <resultMap id="departmentWithEmployeesResultMapBy2Steps" type="com.walter.domain.Department">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <collection property="employeeList" select="com.walter.mapper.EmployeeMapperByXml.findByDepartmentCode" column="code"/>
    </resultMap>

    <select id="getDepartmentById" resultType="com.walter.domain.Department">
        select * from department where id = #{xxx}
    </select>

    <select id="getDepartmentByCode" resultType="com.walter.domain.Department">
        select * from department where code = #{code}
    </select>

    <select id="getDepartmentWithEmployeesByCode" resultMap="departmentWithEmployeesResultMap">
        select
            d.id did,
            d.code dept_code,
            d.name dept_name,
            e.id eid,
            e.username,
            e.user_real_name,
            e.gender,
            e.email
        from department d left join employee e
        on d.code = e.dept_code
        where d.code = #{xxx}
    </select>

    <select id="getDepartmentWithEmployeesByCodeUsingResultMapBy2Steps" resultMap="departmentWithEmployeesResultMapBy2Steps">
        select * from department where code = #{xxx}
    </select>

    <delete id="deleteByCode">
        delete from department where code = #{xxx}
    </delete>
</mapper>